<!DOCTYPE html>
<html>
	<head>
	  
		  <title>Blog-Interface</title>
		  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		  <%= csrf_meta_tags %>

	  </head>
	<body>

		Get back y'all don't know me like that
		<%= yield %>

	</body>
</html>
